body{
    /* background-image: url(public/storage/posts/1b0409bf5c02393dc98b39219a31556c.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover; */
    background-color: blue;
    }
    div{
       background-color: brown; 
        
    }